.about__img{
    height: 400px;
}

.about__img img{
        width: 100%;
        height: 100% !important;
        object-fit: cover;}

@media only screen and (max-width: 768) {

    .shift__left{
        margin-left: 30px;      
    }
    
}

/* .shift__left img{
    margin-left: 100px;
} */

@media only screen and (max-width: 576px){
    .about__img{
        height: 400px;
        width: 300px;
    }
    

}